NG_APP_API_BASE_URL=http://localhost:8080/api/v1
NG_APP_PLATFORM_PROVIDER_SIGN_IN_ENDPOINT_PATH=/authentication/sign-in
NG_APP_PLATFORM_PROVIDER_SIGN_UP_ENDPOINT_PATH=/authentication/sign-up
NG_APP_PLATFORM_PROVIDER_CREATE_CLINIC_ENDPOINT_PATH=/clinics
