# This file is used to configure package manager settings for the project.

# Ignore scripts during installation to prevent potential security risks.
ignore-scripts=true

# Defines the minimum age (in minutes) that a release must be before it can be published.
minimumReleaseAge: 10080
