<div class="team-table__scroll">
  <table class="team-table">
    <thead>
      <tr>
        <th>{{ 'organization.columns.firstName' | translate }}</th>
        <th>{{ 'organization.columns.lastName' | translate }}</th>
        <th>{{ 'organization.columns.licenseNumber' | translate }}</th>
        <th>{{ 'organization.columns.patients' | translate }}</th>
        <th>{{ 'organization.columns.status' | translate }}</th>
        <th class="team-table__chevron-col">{{ 'organization.columns.actions' | translate }}</th>
      </tr>
    </thead>
    <tbody>
      @for (member of members(); track member.id) {
        <tr class="team-table__row" (click)="onRowOpen(member)">
          <td>
            <span class="team-table__name">{{ member.firstName }}</span>
          </td>
          <td>
            <span class="team-table__name">{{ member.lastName }}</span>
          </td>
          <td>
            <span class="team-table__license">{{ member.licenseNumber }}</span>
          </td>
          <td>
            <span class="team-table__patients-value">{{ member.activePatients }}</span>
          </td>
          <td>
            <span class="team-table__status team-table__status--{{ member.status }}">
              <span class="team-table__dot" aria-hidden="true"></span>
              {{ 'organization.status.' + member.status | translate }}
            </span>
          </td>
          <td class="team-table__chevron-col">
            <i class="pi pi-chevron-right team-table__chevron" aria-hidden="true"></i>
          </td>
        </tr>
      }
    </tbody>
  </table>
</div>
